.page{
    max-width: 1280px;
    min-width: 320px;
    background:#2A2C2F;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 24px;
    border: 2px solid red;
}

@media all and (max-width: 320px){
    .page{
        padding-top: 16px;
    }
}