.lead{
    max-width: 984px;
    margin: 0 auto 92px;
    color: #FFFFFF;
}

@media all and (max-width: 1024px){
    .lead{
        max-width: 928px;
    }
}

@media all and (max-width: 600px){
    .lead__title{
        width: 100%;
    }
}

@media all and (max-width: 320px){
    .lead{
        margin-bottom: 64px;
    }
}