.cover__subtitle{
    width: 30.4%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    margin-top: 32px;
    border: 2px solid red;
    text-align: center;
    position: relative;
    z-index: 1;
}