.intro{
    max-width: 690px;
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 92px;
    border: 1px solid red;
}

@media all and (max-width: 1024px){
    .intro{
        padding-left: 0;
    }
}

@media all and (max-width: 768px){
    .intro{
        max-width: 100%;
    }
}