.cover__title{
    max-width: 47.3%;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
}

@media all and (max-width: 1070px){
    .cover__title{
        max-width: 560px;
    }
}

@media all and (max-width: 550px){
    .cover__title{
        max-width: 255px;
        font-size: 32px;
        line-height: 1.09;
    }
}