.place{
    border: 2px solid blue;
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'title website'
                         'image paragraph'
                         'image paragraph';
    gap: 48px 40px;
}