.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 'title website'
                         'image paragraph';
   
    gap: 48px 40px;
    margin-top: 80px;
}

@media all and (max-width: 1024px){
    .place{
        gap: 48px 38px;
    }
}

@media all and (max-width: 768px){
    .place{
        gap: 48px 28px;
        margin: 0;
    }
}

@media all and (max-width: 500px){
    .place{
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 320px){
    .place{
        display: flex;
        flex-direction: column;
    }
}