.footer{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    margin: 0 auto;
}

@media all and (max-width: 320px){
    .footer{
        display: flex;
        flex-direction: column;
    }
}